{% extends 'base.html' %}

{% block title %}Пароль изменен - XXL OrderHub{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Пароль успешно изменен</h3>
            </div>
            <div class="card-body text-center">
                <div class="alert alert-success">
                    <h5>Отлично!</h5>
                    <p>Ваш пароль был успешно изменен.</p>
                    <p>Теперь вы можете войти в систему с новым паролем.</p>
                </div>
                
                <a href="{% url 'login' %}" class="btn btn-primary">Войти в систему</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
